.clipboard{
    text-align: center;
    padding: 0 1.8rem;
    margin-bottom: 8rem;
    img{
        width: 90%;
    }
}

@media screen and (min-width: 768px) {
    .clipboard{
        margin: 10rem auto;
        p{
            width: 50%;
            margin: 0 auto 4rem auto;

        }
    }
}